nbproject/private/
build/
nbbuild/
dist/
nbdist/
test/
*.xml
*.mf
/LinkedListTricks/nbproject/private/
/secondLargest/nbproject/private/
/findIndex/nbproject/private/
/ArrayTricks/nbproject/private/
/OneAway/nbproject/private/
/stringRotation/nbproject/private/
/checkPalindrome/nbproject/private/
/reverseWords/nbproject/private/
/firstNonRepeated/nbproject/private/
/reverseRecursive/nbproject/private/
*.exe
*.o